.p-payment-page {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 20, 60, 0.252), rgba(0, 20, 60, 0.214)),
    url('../../assets/f1.jpg') no-repeat center center fixed;
  background-size: cover;
  padding: 30px 20px;
  font-family: 'Segoe UI', sans-serif;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
} 

.payment-logo {
  width: 90px;
  height: 90px;
  object-fit: contain;
  border-radius: 50%;
  margin-bottom: 10px;
  animation: pulse 2s infinite;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.4);
}

.p-payment-page h2 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  color: #ffffff;
}


.p-back-link {
  margin-top: 8px;
  margin-bottom: 20px;
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  transition: color 0.3s;
  background-color: rgba(0, 19, 126, 0.926);
  padding: 8px 16px;
  border-radius: 8px;
}

.p-back-link:hover {
  color: #facc15;
  background-color: rgba(0, 0, 0, 0.4);
}

.payment-card {
  background-color: rgba(255, 255, 255, 0.655);
  color: #000000;
  max-width: 500px;
  width: 100%;
  padding: 25px 30px;
  border-radius: 12px;
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.3);
  animation: fadeIn 0.5s ease-in;
    font-size: 1.2rem;

}


/* Input Styling */
.price-input {
  width: 90%;
  padding: 10px 14px;
  margin: 10px 0 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1.2rem;
}

/* Confirm Button */
.fp-confirm-btn {
  background-color: #00206c;
  color: white;
  padding: 12px 24px;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  display: block;
  margin: 0 auto;
}

.fp-confirm-btn:hover {
  background-color: #0023c1;
  transform: translateY(-2px);
}

/* Animation */
@keyframes pulse {
  0% { transform: scale(1); opacity: 1; }
  50% { transform: scale(1.05); opacity: 0.9; }
  100% { transform: scale(1); opacity: 1; }
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}
