.payments-list-container {
  min-height: 100vh;
  background: url("../../assets/f1.jpg") no-repeat center center/cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.payments-navbar {
  width: 100%;
  height: 70px;
  background: rgb(0, 47, 133);
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.payments-navbar h1 {
  color: white;
  margin: 0;
}

.nav-links button {
  background: transparent;
  border: 1px solid white;
  color: white;
  padding: 6px 12px;
  margin-left: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.nav-links button:hover {
  background: white;
  color: black;
}

/* Logo */
.payments-logo {
  margin-top: 20px;
}

.payments-logo img {
  width: 100px;
  background: white;
  padding: 8px;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

/* Content box */
.payments-content {
  background: rgba(255, 255, 255, 0.9);
  margin-top: 20px;
  padding: 20px;
  border-radius: 12px;
  width: 90%;
  max-width: 1100px;
}

.payments-controls {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.payments-controls input[type="date"] {
  padding: 6px 10px;
  border-radius: 6px;
  border: 1px solid #761d1d;
}

.bulkpdf {
  background-color: #0065cb;
  color: white;
  padding: 6px 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.bulkpdf:hover {
  background-color: #1a252f;
}

/* Table */
.payments-table {
  width: 100%;
  border-collapse: collapse;
}

.payments-table th, .payments-table td {
color: black;
  padding: 12px;
  text-align: center;
}

.payments-table th{
  background-color: #facc15;
}

.payments-table thead {
  background: #565050;
  color: white;
}

.payments-table tr:nth-child(even) {
  background: #f2f2f2;
}

.payments-delete-btn {
  background: #e74c3c;
  border: none;
  color: white;
  padding: 6px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.payments-delete-btn:hover {
  background: #c0392b;
}
